{% extends "layout.html" %}
{% block content %}

    <h2>This is The Home Page</h2>
    <!-- By default templates use Ginger2 engine ig -->
    {%  for post in posts  %}  <!--For Data its % in braces...-->
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}

{%endblock%}



